*{
    font-family: sans-serif;
    font-weight: 100;
}
.container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    background: rgba(14, 174, 192, 0.686);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
    color: #FFF;
}

.sidebar {
    width: 20%;
    float: left;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.sidebar li a {
    display: inline-block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar li a:hover {
    background-color: rgb(27, 141, 207);
}

.sidebar li a.active{
    background-color: #3B5949;
}

a {
    text-decoration: none;
    color: #FFF;
    font-style: oblique;
}

.content {
    width: 80%;
    min-height: 500px;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    background: #FFF;
    border-radius: 10px;
    color: #2c3e50;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
h1{
    font-weight: bold;
    font-size: xx-large;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-weight: bold;
    color: black;
}

body{
    margin: 0;
    background : rgb(17, 156, 221);
   
        background-image: url("login.jpg");
        background-size: 118%;
        }
    


/*tabel*/
table.data {
    width: 100%;
    border-collapse: collapse;
}

table.data th {
    padding: 10px 5px;
}

table.data td {
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

table.data td a.link {
    color: #3F27E6;
    text-decoration: underline;
}
table.data td a.link:hover {
    color: rgb(28, 243, 74);
    text-decoration: underline;
}

table.data tr:hover:not(:first-child) {
    background-color: #f5f5f5;
}

table.data tr:not(:first-child):nth-of-type(odd) {
    background-color: #f9f9f9;
}


/*form*/

.form{
    background: rgba(7, 218, 137, 0.563);
    border-radius: 80px;
    padding: 4px 20px 15px 20px;
    box-shadow: 0px 0px 5px black;
    color: #FFF;
    margin: 0 auto;
    width: 430px;
}

input, textarea, select {
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: large;
    border-radius: 15px;
}

textarea {
    min-height: 80px;
}

.btn {
    width: auto;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
}

table .btn{
    font-size: 12px;
}

.btn-submit {
    background-color: #4094ff;
    padding: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 80px;
    margin-bottom: 3px;
}

.btn-submit:hover {
    background-color: rgb(2, 143, 37);
    padding: 8px;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 12px;
    width: 80px;
}

.btn-tambah {
    background-color: #1fa7f5;
    border-radius: 12px;
    
}

.btn-tambah-div{
    text-align: left;
    margin-right: 0px;
    border-radius: 12px;
    
}

.btn-tambah:hover {
    background-color: #33aeb3cd;
}

.btn-edit {
    background-color: #4ec467;
    border-radius: 12px;
}
.btn-edit:hover{
    background-color: rgb(31, 126, 43);
    border-radius: 12px;
}

.btn-hapus {
    background-color: #c0392b;
    border-radius: 12px;
}
.btn-hapus:hover {
    background-color: #8c3c33;
    border-radius: 12px;
}

.buku-cover {
    max-width: 50px;
}
